In [1]:
import os
import numpy as np
import pandas as pd
dir_data = './data/'

f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

In [2]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0


<h2><ul>application_train.csv的資訊</ul></h2>
<h3>
<li>RangeIndex: 307511 entries, 0 to 307510</li>
    <li>Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR</li>
    <li>dtypes: float64(65), int64(41), object(16)</li>
    <li>memory usage: 286.2+ MB</li>
</h3>

In [3]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

<h3>application_train.csv2的columns</h3>

In [4]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

<h3>cloumn 0</h3>

In [5]:
app_train.columns[0]

'SK_ID_CURR'

<h3>cloumn 18~21的10個value</h3>

In [6]:
df=[]
for i in range(18,22):
    df.append(app_train[app_train.columns[i]][0:10])
res=pd.concat(df,axis=1,join="outer")
print(res)

   DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  OWN_CAR_AGE
0           -637            -3648.0            -2120          NaN
1          -1188            -1186.0             -291          NaN
2           -225            -4260.0            -2531         26.0
3          -3039            -9833.0            -2437          NaN
4          -3038            -4311.0            -3458          NaN
5          -1588            -4970.0             -477          NaN
6          -3130            -1213.0             -619         17.0
7           -449            -4597.0            -2379          8.0
8         365243            -7427.0            -3514          NaN
9          -2019           -14437.0            -3992          NaN

<h3>去除遺失值</h3>

In [7]:
print(res.dropna())

   DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  OWN_CAR_AGE
2           -225            -4260.0            -2531         26.0
6          -3130            -1213.0             -619         17.0
7           -449            -4597.0            -2379          8.0

<h3>遺失值補0</h3>

In [8]:
print(res.fillna(0))

   DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  OWN_CAR_AGE
0           -637            -3648.0            -2120          0.0
1          -1188            -1186.0             -291          0.0
2           -225            -4260.0            -2531         26.0
3          -3039            -9833.0            -2437          0.0
4          -3038            -4311.0            -3458          0.0
5          -1588            -4970.0             -477          0.0
6          -3130            -1213.0             -619         17.0
7           -449            -4597.0            -2379          8.0
8         365243            -7427.0            -3514          0.0
9          -2019           -14437.0            -3992          0.0